/*
 * Theme Name: linuxit
 * Author: Stefano Salvi
 * Author URI: https://www.salvi.mn.it
 * Description: ILS theme based on Boostrap for Wordpress
 * Version: 1.0
 */

.page-contents {
  font-size: 1.2em;
  line-height: 1.8em;
}
article .post-title {
  margin-bottom: 20px;
}
article time {
  display: block;
  margin-bottom: 20px;
  opacity: .6;
}
.btn-primary {
  background-color: #ffa200;
  border-color: #ffa200;
}
.btn-primary:hover {
  color: #000;
  background-color: #FFF;
  border-color: #000;
}
.cta-button {
  text-decoration: none;
}
.cta-button:hover {
  text-decoration: none;
  box-shadow: 0 0 5px #444;
  background-color: #FFF;
  border-color: #FFF;
}
.ils-services-grid .card-footer {
  padding: 0;
  background-color: #FFF;
}
.pagination a {
  text-decoration: none;
  color: #ffa200;
}
.pagination li.active a {
  background-color: #000 !important;
  border-color: #000 !important;
}
#mapid {
  width: 100%;
  height: 550px;
}
#ils_footer a {
  text-decoration: none;
}
#ils_footer .col-md-3 {
  padding: 5px;
}
#ils_footer .col-md-3 .cell {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
}
.comments-area {
  margin-top: 10px;
}
.em-booking-form-details textarea{
  width:100%
}
.wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.wp-block-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#header {
  display: flex;
  align-items: center;
}
#header picture {
  margin-right: 10px;
}
#header #maintitle {
  left: 150px !important;
  top: auto !important;
}
.menu {
  position:initial;
}
#header #payoff {
  font-weight: lighter !important;
  font-size: 14px !important;
  position: initial !important;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  padding:1px !important;
}
.dropdown-item {
  padding: 0 !important;
  padding-left: 4px !important;
}
.dropdown-menu .menu-item {
  padding:0px !important;
}
.nav-link {
  padding:8px !important;
}
@media screen and (max-width: 1200px) {
  #header #maintitle {
    left: 120px !important;
    top: 40px;
  }
}
